*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
### Java-Web ###
## ignoring target file
target/
*.log
.0*
*.directory
/generated-sources/
/target/*.0-SNAPSHOT.jar
*.0-SNAPSHOT.jar
/target/maven-archiver/
### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/SITEP2/target/
/sitep2/target/
/sitep2/target/maven-status/
/sitepUtil/target/
/sitepCommon/target/
/sitepcommon/target/
/siteputil/target/
/siteputil/target/maven-archiver/*.properties
/sitepcommon/target/maven-archiver/*.properties