*.class
# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear
*.DS_Store
*.classpath
*.project
*.settings
*.tern-project
*.metadata
.metadata/
.metadata
/metadata/
*.target
.target/
.target
/target/
*.log
.0*
*.directory
/generated-sources/
/target/*.0-SNAPSHOT.jar
*.0-SNAPSHOT.jar
/target/maven-archiver/
/SITEP2/target/